.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #4f46e5, #9333ea);
  font-family: Arial, sans-serif;
}

.login-card {
  background: white;
  padding: 35px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background: #4f46e5;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background: #312e81;
}
